<!-- photos/templates/photo_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ photo.filename }} Details</title>
    <!-- Add Bootstrap CDN link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>{{ photo.image.url }} Details</h2>
        <img src="{{ photo.image.url }}" alt="Photo" class="img-fluid">
        <p><a href="{{ photo.image.url }}" download class="btn btn-primary">Download Photo</a></p>
        <p><a href="{% url 'folder_detail' folder_id=photo.folder.id %}" class="btn btn-secondary">Back to {{ photo.folder.name }} Details</a></p>
    </div>

    <!-- Add Bootstrap JS and Popper.js CDN links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
